body {
  font-family: kanit, sans-serif;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.main-container {
  position: relative;
  text-align: center;
  color: whitesmoke;
}

.main-bg {
  height: 950px;
  background-image: url(../public/img/main.jpeg);
  background-size: cover;
  background-position: center;
}

.bg-text {
  position: absolute;
  top: 270px;
  left: 110px;
  font-size: 60px;
  font-weight: 500;
  line-height: 75px;
}

.main-card {
  width: 400px;
  height: 400px;
  padding-bottom: 10px;
}

.navLink {
  text-decoration: none;
  color: whitesmoke;
}

.ad-bar {
  text-align: center;
  font-size: 25px;
}

.detailNav {
  width: 80%;
  margin: 50px 20px 40px 100px;
  font-size: 18px;
}

.detailContent {
  width: 80%;
  font-size: 18px;
  margin: 10px 0 200px 100px;
}

.recently-container {
  margin-top: 50px;
}

.recentView-image {
  width: 130px;
  height: 130px;
  margin-top: 5px;
  cursor: pointer;
}

.detail-cardImg {
  width: 450px;
  height: 400px;
  margin: 50px 0 0 80px;
}

.cartImg {
  width: 200px;
  height: 200px;
  margin-right: 50px;
}

.imgLink {
  text-decoration: none;
  color: rgb(28, 28, 28);
  width: auto;
  margin-left: 10px;
}

.countBtn {
  font-weight: 900;
  font-size: 18px;
  margin-right: 5px;
}

.total {
  font-size: 25px;
  color: rgb(70, 70, 70);
  display: flex;
  justify-content: end;
  margin-top: 50px;
  margin-right: 100px;
}
