.main-bg{
  height: 950px;
  background-image: url(../src/img/1.jpeg);
  background-size: cover;
  background-position: center;
}

.container{
  width: 100%;
  height: 100%;

}


.colImg{
  width: 80%
}

li{
  list-style-type: none;
}

.navLink{
  text-decoration: none;
  color: whitesmoke;
  padding: 20px;
}

.adBar{
  width: 100%;
  background-color: lightblue;
  padding: 25px;
  text-align: center;
  font-size: 20px;
  
}

.transition-start {
  opacity: 0;
}

.transition-end {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.detailNav{
  margin-top: 30px;
  margin-left: 20px;
}

.detailContent{
  margin-top: 10px;
  margin-left: 35px;
}