.main-bg{
  height: 950px;
  background-image: url(../src/img/1.jpeg);
  background-size: cover;
  background-position: center;
}


.colImg{
  width: 80%
}

li{
  list-style-type: none;
}

.nav{
  text-decoration: none;
  color: whitesmoke;
  padding: 20px;
}