html {
  scroll-behavior: smooth;
}

body {
  font-family: kanit, sans-serif;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.main-container {
  position: relative;
  text-align: center;
  color: whitesmoke;
}

.main-bg {
  height: 950px;
  background-image: url(../public/img/main.jpeg);
  background-size: cover;
  background-position: center;
}

.bg-text {
  position: absolute;
  top: 220px;
  left: 110px;
  font-size: 62px;
  font-weight: 500;
  line-height: 75px;
}

.main-card {
  width: 400px;
  height: 400px;
  padding-bottom: 10px;
}

.navLink {
  text-decoration: none;
  color: whitesmoke;
}

.ad-bar {
  text-align: center;
  font-size: 25px;
}

.detail-cardImg {
  width: 400px;
  height: 400px;
  margin: 50px 0 0 50px;
}

.detail-info {
  padding: 20px;
}

.recently-container {
  margin-top: 50px;
  margin-left: 25px;
  padding-right: 0;
  margin-right: 0;
}

.recently-container h5 {
  font-size: 15px;
}

.recentView-image {
  width: 120px;
  height: 120px;
  margin-top: 5px;
  cursor: pointer;
}

.detailTab {
  width: 90%;
  margin: 50px 20px 30px 50px;
  font-size: 18px;
}

.tabContent {
  width: 90%;
  font-size: 18px;
  margin: 5px 0px 50px 50px;
}

.table {
  font-size: 17px;
}

.productName {
  width: 40%;
}

.cart-productName {
  font-size: 24px;
}

.cartImg {
  width: 200px;
  height: 200px;
  margin-right: 50px;
}

.imgLink {
  text-decoration: none;
  color: rgb(28, 28, 28);
  width: auto;
  margin-left: 10px;
}

.countBtn {
  font-weight: 900;
  font-size: 18px;
  margin-right: 5px;
}

.total {
  font-size: 25px;
  color: rgb(70, 70, 70);
  display: flex;
  justify-content: end;
  margin-top: 50px;
  margin-right: 100px;
}

/* media query part */

@media only screen and (max-width: 768px) {
  .bg-text {
    font-size: 45px;
    line-height: 40px;
    position: absolute;
    top: 280px;
    left: 50px;
  }

  .main-card {
    width: 350px;
    height: 350px;
  }

  .ad-bar {
    font-size: 20px;
  }

  .detailTab {
    width: 80%;
    margin: 30px;
    font-size: 18px;
  }

  .tabContent {
    width: 80%;
    font-size: 18px;
    margin: 0px 30px 100px 30px;
  }

  .detail-cardImg {
    width: 330px;
    height: 330px;
    margin-left: 20px;
  }

  .detail-info {
    margin-left: 30px;
    padding-right: 100px;
  }

  .recently-container {
    margin-left: 30px;
  }

  .recently-container h5 {
    padding-left: 16px;
  }

  .total span {
    font-size: 22px;
  }

  .order-button {
    font-size: 13px;
  }

  .table {
    font-size: 15px;
  }

  .productName {
    width: 20%;
  }

  .cart-productName {
    font-size: 16px;
  }

  .cartImg {
    width: 100px;
    height: 100px;
    margin: 0px;
  }

  .countBtn {
    margin-bottom: 5px;
  }
}
